*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.resp{
    width: 100%;
    height: auto;
}

.headerS{
    background: silver;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none !important;
    color: black !important;
}

.show{

    margin: 20% auto 10% ;
    border: solid black 2px;
    width: 30% ;


}

.titreCategories{
    text-align: center;
}

.titreHome{
    text-align: center;
    margin-top: 20px;
    height: 72%;
    padding-top: 20%;
}

.logoMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 90px;
}

.menuB{
    width: 100px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: coral;
}

.categorie{
    box-shadow: 10px 10px 10px black;
    border: solid black 1px;
    background: indianred;
    border-radius: 10px;
    width: 40%;
    padding: 5% 2%;
    margin: 2%;
}

.nav_foot ul{
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
}

.footerE{
     background: paleturquoise;
     height: 80px;
     width:100%;



 }

.tag-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: coral;
}

.tag {
    box-shadow: 10px 10px 10px black;
    border: solid black 1px;
    background: indianred;
    border-radius: 10px;
    width: 40%;
    padding: 5% 2%;
    margin: 2%;
}

.insert{
    text-align: center;
    margin: 40px 0;
}

.insert a{
    background: #B0413E;
    border-radius: 60px;
    padding: 10px;

}

.flash {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: orangered;
    background-color: silver;
    font-size: 20px;
    width: 50%;
    margin: auto;
}

