{% extends ('front/base.html.twig') %}


{% block main %}
    <div class="show">
        <h1>{{ article.title }}</h1>
        <div>{{ article.content }}</div>
        <p>{{ article.createdAt | date ('y-m-d') }}</p>
        <p>Categorie : {{ article.category.title }}</p>
    </div>
{% endblock main %}