{% extends 'base.html.twig' %}
{% block main %}
    <body>
    <div class="show">
        <h1>{{ categorie.title }}</h1>
        <h2>{{ categorie.content }}</h2>
    </div>

    </body>
{% endblock main %}